.camaron {
    background-color: #F5C2BB;
}

.langosta {
    background-color: #7D1200;
}

.pescado {
    background-color: #29415B;
}

.huachinango {
    background-color: #D35C3E;
}

.jaiba {
    background-color: #2F6888;
}

.pulpo {
    background-color: #551112;
}